.card {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_top {
    display: flex;
    gap: 5px;
}

.card_top_labels {
    flex: 1;
    display: flex;
    gap: 10px;
}

.card_top svg {
    opacity: 0;
    transition: 250ms;
}

.card:hover .card_top svg {
    opacity: 1;
}

.card_title {
    font-weight: bold;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card_footer svg {
    height: 14px;
    width: 14px;
}

.card_top_more {
    cursor: pointer;
    position: relative;
}

.card_dropdown {
    margin-top: 20%;
    background-color: #fff;
    width: 130px !important;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.15);
}

.card_dropdown p {
    cursor: pointer;
    padding: 10px;
}
